@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
.cabecalho{
    display: flex;
    justify-content:
    space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo{
    width: 60px;
}

.cabecalho .menu{
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}
.cabecalho nav li a{
    text-decoration: none;
    color: #ffff;
    padding:10px 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
}
.cabecalho nav li a:hover{
    transition: 0.4s;
    background-color: red;
}
.container{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: calc(100vh - 130.09px);
    padding: 0 30px 30px;
}
.container .imagem-titulo{
    max-width: 500px;
}
.container .descricao{
    color: #a8abd7;
    width: 85%;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    margin: 30px 0;
}
.container .botao-trailer{
    font-family: 'Libre Baskerville', serif;
    background-color: red;
    text-decoration: none;
    border: none;
    font-size: 15px;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.container .botao-trailer:hover{
    transition: 0.4s all ease-in-out;
    background-color:darkred;
    transform: scale(1.1);
}
.leon{
    max-width: 496px;
}
.video-fundo{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.video-fundo {
    height: 100vh;

}
.video-fundo::after {
    content: "" ;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 16%, rgba(0,0,0,0.8) 43%, rgba(0,0,0,1) 91%);
}
.modal .video{
    display: flex;
}